.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 30px;
    margin-top: 30px;
}

.toggle-button__line{
    width: 30px;
    height: 4px;
    background: black;
}

.toggle-button:focus{
    outline: none;
}