.header__container {
    width: 100%;
    flex-direction: row;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #282c34;
}

.header__logo {
    margin-left: 20px;
    margin-top: 10px;
}

.spacer {
    flex: 1;
}