.skills__container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: auto;
}

.skill__bars {
    margin: auto;
}

.skill__names {
    text-align: left;
}

.skill {
    display: flex;
    height: 44px;
}

.skill h4{
    margin-left: 10px;
}