.projects__container {
    background-color: rgb(214, 214, 214);
    box-shadow: 0px 0px 25px inset black;
    height: 100vh;
    z-index: 2;
}

.projects__banner {
    width: 60vw;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 80vw;
    margin-bottom: 20px;
    padding-top: 8vh;
}

.projects__list {
    width: 81vw;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.projects__desc-area {
    width: 90vw;
    height: 10vh;
    transition: height 3s;
    margin-left: auto;
    margin-right: auto;
}

.open {
    height: 25vh;
}

.project__details {
    width: 81vw;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2vh;
    height: 25vh;
    margin-bottom: 0;
}


.project__desc-area p {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.project__desc-area h3 {
    margin-top: 0;
}

.project__desc-area hr {
    width: 70vw;
}