.projects__container {
    background-color: rgb(214, 214, 214);
    box-shadow: 0px 0px 25px inset black;
    height: 100vh;
    z-index: 2;
}


.projects__banner {
    width: 60vw;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 80vw;
    margin-bottom: 20px;
    padding-top: 8vh;
}
